<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>The world could always use more heroes</h2>

  <div class="container">

    <div class=" card bronze">
      <h1>Bronze</h1>
      <p>1-1499</p>
    </div>

    <div class=" card silver">
      <h1>Silver</h1>
      <p>1500-1999</p>
    </div>

    <div class=" card gold">
      <h1>Gold</h1>
      <p>2000-2499</p>
    </div>

    <div class=" card platinum">
      <h1>Platinum</h1>
      <p>2500-2999</p>
    </div>

    <div class=" card diamond">
      <h1>Diamond</h1>
      <p>3000-3499</p>
    </div>

    <div class=" card master">
      <h1>Master</h1>
      <p>3500-3999</p>
    </div>

    <div class=" card grandmaster">
      <h1>Grandmaster</h1>
      <p>4000+</p>
    </div>

    <div class=" card top">
      <h1>Top 500</h1>
    </div>

    <div class=" about">
      <h1>About Hero Recall:</h1>
      <p>personal project to help Overwatch players find players to play with in competitive</p>
    </div>

    <div class=" howto">
      <h1>How to use Hero Recall:</h1>
      <p>coming soon</p>
    </div>

    <div class="Chat">
      <h1>Chat:</h1>
      <ul id="messages"></ul>
        <form>
            <input type="text" id="m">
            <input type="button" value="Send" id ="send">
        </form>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>

<script>
    var socket = io.connect();

    $('#send').on('click',()=> {
      socket.emit('chat message', $('#m').val());
      $('#m').val('');
    });

    socket.on('chat message', function(msg){
      $('#messages').append($('<li>').text(msg));
    });

</script>

