/* You can add global styles to this file, and also import other style files */
.container{
    display: grid;
    grid-template-areas:
                            "bronze silver gold platinum"
                            "diamond master grandmaster top"
                            "about about about about";
    grid-gap:  2rem 10px;
}

.about{
    grid-area: about;
    background-color: slategray;
    color: white;
}

/* ratings cards */
.card{
    font-family: Georgia, serif;
    box-shadow: black;
}

.bronze{
    grid-area: bronze;
}

.silver{
    grid-area: silver;
}

.gold{
    grid-area: gold;
}

.platinum{
    grid-area: platinum;
}

.diamond{
    grid-area: diamond;
}

.master{
    grid-area: master;
}

.grandmaster{
    grid-area: grandmaster;
}

.top{
    grid-area: top;
}
