/* You can add global styles to this file, and also import other style files */
.container{
    display: grid;
    grid-template-areas:
                            "bronze silver gold platinum"
                            "diamond master grandmaster top"
                            "about about about about"
                            "howto howto howto howto";
    grid-gap:  2rem 2rem;
}

.about{
    grid-area: about;
    background-color: slategray;
    color: white;
}

.howto{
    grid-area: howto;
    background-color: black;
    color: white;
}


/* ratings cards */
.card{
    background-color: lavender;
    font-family: Georgia, serif;
    box-shadow: 1rem 1rem black;
}

.bronze{
    grid-area: bronze;
}

.silver{
    grid-area: silver;
}

.gold{
    grid-area: gold;
}

.platinum{
    grid-area: platinum;
}

.diamond{
    grid-area: diamond;
}

.master{
    grid-area: master;
}

.grandmaster{
    grid-area: grandmaster;
}

.top{
    grid-area: top;
}
